# 🚨 1. ห้ามเอากุญแจ AWS ขึ้นเด็ดขาด!
*.pem

# 🚨 2. ห้ามเอาไฟล์รหัสผ่านขึ้น (ไม่ว่าจะซ่อนอยู่โฟลเดอร์ไหนก็ตาม)
.env
*.env

# 🗑️ 3. ไม่เอาโฟลเดอร์หนักๆ ของทั้งหน้าบ้านและหลังบ้าน
node_modules/
dist/
.DS_Store